.otp-password-container {
    max-width: 300px;
    margin: auto;
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .display-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
  }
 body{
    background-color: antiquewhite;
 }